@import "../../App.scss";

.Header {
    display: flex;
    justify-content: flex-end;
    color: var(--White);
    margin-top: 1px;
    height: 742px;
    background: url(src/assets/Images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-size: 8rem;
        text-shadow: 0px 4px 4px #00000040;
        margin-top: 4.5rem;
        margin-right: 4.5rem;
    }

    p {
        margin: 0 0.5rem;
    }
}